// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
  border-bottom: solid 1px #CCC;
  padding: 5px 0;
}


.author p {
  margin: 4px 0;

}

.card.hover {
  background: #FAFAFA;
}

.card .admin {
  display: none;
}

.card.hover .admin {
  display: inline;
}

#cat_list {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
